<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/styles.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
            <li, class="header">
                <p>- Author : romain </p>
                <p>- Email : romain@gmail.com </p>
                {% block extra_nav %}{% endblock %}
            </li>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Prédiction du Diabète. Tous droits réservés.</p>
    </footer>

    <script src="js/script.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>