{% extends "base.html" %}

{% block title %}Accueil - Prédiction du diabète{% endblock %}

{% block content %}
<div class="container">
    <h1>Prédiction de la progression du diabète</h1>
    <form action="/print_sum" method="post">
        <input type="number" name="first_nb" placeholder="first nb" required>
        <input type="number" name="second_nb" placeholder="second nb" required>
        <button type="submit">Imprimer la sum</button>
    </form>

    <form action="/print_name" method="post">
        <input type="text" name="name" placeholder="Entrez votre name" required>
        <button type="submit">Imprimer name</button>
    </form>

    {% if print_sum %}
    <div class="result">
        <h2>total sum :</h2>
        <p>{{ print_sum }}</p>
    </div>
    {% endif %}

    {% if print_name %}
    <div class="result">
        <h2> Your name is :</h2>
        <p>{{ print_name }}</p>
    </div>
    {% endif %}

    <button onclick="window.location.href='/new_page'">Changer de page</button>
</div>

<div class="jumping-monkey">
    <img src="../image/chat_happy.jpeg" alt="Singe sautant">
</div>
{% endblock %}
